input {
    border: 2px solid black;
}

.page {
    margin-top: 71px;
}

.input-group-addon {
    min-width: 100px;
}

.input-group {
    margin-bottom: 20px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand > span {
    left: 18px;
    padding: 0;
    position: absolute;
    line-height: 48px;
    color: #888;
}

.navbar-brand > img {
    max-width: 300px;
    max-height: 30px;
    margin: auto;
    margin-top: -5px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    z-index: 9999;
}

.btn-primary {
    color: #fdb540;
    background-color: #FFFFFF;
    border-color: #fdb540;
}

.btn-primary:hover {
    background-color: #fdb540;
    border-color: #fdb540;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #fdb540;
    border-color: #fdb540;
}

.li-group-password {
    background-color: #f8f8f8;
    color: #000;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    max-height: 42px !important;
}

a.a-group-clipboard {
    float: right;
    font-size: 23px;
    margin-top: -4px;
    color: #fdb540;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    text-align: center;
    background-color: #fdb540;
    border: 1px solid #fdb540;
    border-radius: 4px;
}


/*new menu*/

.menu-button {
    float: right;
    font-size: 22px;
    margin-top: 10px;
}


/* style for passcode */
.dv-passcode-number {
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #fdb540;
    height: 70px;
    width: 70px;
    font-size: 20px;
    line-height: 70px;
    margin: auto;
    margin-bottom: 15px;
}

.dv-passcode-number:active {
    background-color: #fdb540;
    color: #ffffff;
}