input{
    border:2px solid black;
}

.page {
    margin-top: 71px;
}

.input-group-addon {
    min-width: 100px;
}

.input-group {
    margin-bottom: 20px;
}

.navbar-brand>img {
    max-width: 30px;
    float: left;
    max-height: 30px;
    margin-top: -5px;
}