input {
    border: 2px solid black;
}

.page {
    margin-top: 71px;
}

.input-group-addon {
    min-width: 100px;
}

.input-group {
    margin-bottom: 20px;
}

.navbar-brand > img {
    max-width: 300px;
    max-height: 30px;
    margin-top: 7px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}